<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <easytranslate>
            <mageplaza_blog_posts>
                <attributes>name,post_content,url_key,short_description</attributes>
            </mageplaza_blog_posts>
        </easytranslate>
    </default>
</config>
