<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="easytranslate_mageplaza_blog" frontName="easytranslate_mageplaza_blog">
            <module name="EasyTranslate_CompatMageplazaBlog" before="Magento_Backend"/>
        </route>
    </router>
</config>
