<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="easytranslate">
            <group id="mageplaza" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>Posts</label>
                <field id="attributes" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1">
                    <label>Attributes</label>
                    <comment>Select the posts attributes, which should be translated</comment>
                    <source_model>EasyTranslate\CompatMageplazaBlog\Model\Adminhtml\Source\PostAttribute</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
