<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="easytranslate_project_save_after">
        <observer name="easytranslate_mageplaza_post_after_project_save_observer" instance="EasyTranslate\CompatMageplazaBlog\Observer\AfterProjectSaveObserver"/>
    </event>
</config>
